.wrapper {
  padding: 100px;
  width: 100%;
  margin: auto;
  overflow:hidden;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 10px;
  grid-template-rows: repeat (3, 250px);
 }
 .contenido {
  padding-top: 80px;
 }

  .one {
    width: 200px;
    height: 200px;
    border: solid 1px;
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    width: 200px;
    height: 200px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border: solid 1px;
  }
  .three {
    width: 200px;
    height: 200px;
    grid-column: 3 /3;
    grid-row: 1 / 3;
    border: solid 1px;
  }
  .four {
    width: 200px;
    height: 200px;
    grid-column: 1 / 3;
    grid-row: 2/ 3;
    border: solid 1px;
  }
  .five {
    width: 200px;
    height: 200px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: solid 1px;
  }
  .six {
    width: 200px;
    height: 200px;
    grid-column: 3 / 3;
    grid-row: 2 / 3;
    border: solid 1px;
  }

  